<section id="main-nav">
    <a href="#" class="logo">Chitter</a>
    <div class="menu-toggle"></div>
    <nav>
        <ul>
            <li><a href="#" style="margin-right: 1em;">Login</a></li>
            <li><a href="#" style="background: #fa003f; border-radius: 7px;">Sign Up</a></li>
        </ul>
    </nav>
    <div class="clearfix"></div>
</section>

<!-- <nav id="custom-bar" class="navbar navbar-expand-lg navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Chitter</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">      
                <% if(currentUser) { %> 
                    <a class="nav-link" aria-current="page" href="/posts"><i class="fas fa-home"></i> Home</a>
                    <a class="nav-link" aria-current="page" href="/profile/<%= currentUser._id %>"><i class="fas fa-user"></i> Profile</a>
                    <a class="nav-link" href="/posts/new"><i class="fas fa-pencil-alt"></i> Make a post</a>
                    <a class="nav-link" href="/profile/<%= currentUser._id %> /explore"><i class="fas fa-globe-americas"></i> Explore</a>
                <% } %>
            </div>
          
            <div class="navbar-nav ms-auto mb-2 mb-lg-0">
                <% if(currentUser) { %> 
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-user"></i> <%= currentUser.FirstName%> <%= currentUser.LastName%> 
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="/profile/<%= currentUser._id %>"><i class="fas fa-user"></i> Profile</a></li>
                          <li><a class="dropdown-item" href="/logout"><i class="fas fa-sign-out-alt"></i> Log Out</a></li>
                        </ul>
                      </li>
 
                <% }  else { %> 
                    <a class="nav-link" href="/register">Sign up</a>
                    <a class="nav-link" href="/login">Log in</a>
                <% } %> 
                
            </div>

        </div>
    </div>
</nav> -->

