<section id="main-nav">
    <a href="/" class="logo">Chitter</a>
    <div class="menu-toggle"></div>
    <nav>
        <ul>
            <% if(currentUser){ %>
                <li><a href="/posts"><i class="fas fa-home"></i> Home</a></li>
                <li>
                    <a href="/profile/<%= currentUser._id %>">
                        <i class="fas fa-user"></i> <%= currentUser.FirstName%> <%= currentUser.LastName%> 
                    </a>
                </li>
                <li>
                    <a class="nav-link" href="/profile/<%= currentUser._id %> /explore"><i class="fas fa-globe-americas"></i> People You may know</a>
                </li>
                <li>
                    <form action="/profile/<%= currentUser._id%>/search" method="POST">
                        <div class="input-group">
                            <input type="text" class="form-control rounded" placeholder="Search your friend" name="key">
                            <button type="submit" class="btn btn-outline-primary">search</button>
                        </div>
                    </form>
                </li>
                <li>
                    <a href="/logout"><i class="fas fa-sign-out-alt"></i> Log Out</a>
                </li>
            <% } else { %>
                <li><a href="/login" style="margin-right: 1em;">Login</a></li>
                <li><a href="/register" style="background: #fa003f; border-radius: 7px;">Sign Up</a></li>
            <% } %>
        </ul>
    </nav>
    <div class="clearfix"></div>
</section>


