<% layout('layouts/boilerplate') %>

<% if(!users.follower.length) {%> 
  <div class="d-flex justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-6"> 
        <div class="card-body">
          <h5 class="card-title">No followers</h5>
        </div>
    </div>
  </div>
<% } else { %>
  <div class="d-flex justify-content-center">
      <h4>Followers</h4>
  </div>
<% } %> 

<% for(let follower of users.follower) { %>
    <div class="d-flex justify-content-center">
      <div class="col-sm-12 col-md-8 col-lg-6">
        <div onclick="location.href='/profile/<%= follower._id %>'" class="width-changer card noth">
          <div class="card-body">
            <div class="likes-display">
              <h5 class="card-title"><%= follower.FirstName %> <%= follower.LastName %></h5>
          </div>
          <div class="go-right">
              <% if(currentUser && !currentUser.equals(follower._id) && !isFollowing(currentUser, follower._id)) { %>
                  <form class="inner" action="/profile/<%= follower._id%>/follow" method="POST">
                      <button class="btn btn-success btn-block">Follow</button>
                  </form>
                  <% } %>
                  <% if(isFollowing(currentUser, follower._id)) { %>
                  <form class="inner" action="/profile/<%= follower._id%>/unfollow" method="POST">
                      <button id="unfollow" class="inner btn btn-success btn-block" class="btn btn-primary">
                          &#10003; Following
                      </button>
                  </form>
                  <% } %>
          </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>