<% layout('layouts/boilerplate') %>

<% if(!users.follower.length) {%> 
  <div class="d-flex justify-content-center">
    <div class="col-sm-12 col-md-8 col-lg-6"> 
        <div class="card-body">
          <h2 class="card-title">No followers</h2>
        </div>
    </div>
  </div>
<% } else { %>
  <div class="d-flex justify-content-center">
      <h4>Followers</h4>
  </div>
<% } %> 

<% for(let follower of users.follower) { %>
    <div class="d-flex justify-content-center">
      <div class="col-sm-12 col-md-8 col-lg-6">
        <div onclick="location.href='/profile/<%= follower._id %>'" class="width-changer card noth">
          <div class="card-body">
            <% if(follower.gender === 'Male') {%> 
              <img class="card-img-top circle" src="https://images.unsplash.com/photo-1552519507-da3b142c6e3d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
            <%} else { %> 
              <img class="card-img-top circle" src="https://images.unsplash.com/photo-1495231916356-a86217efff12?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=976&q=80" alt="Card image cap">
            <% } %> 
            <div class="likes-display">
              <h5 class="card-title"><%= follower.FirstName %> <%= follower.LastName %></h5>
          </div>
          <div class="go-right">
              <% if(currentUser && !currentUser.equals(follower._id) && !isFollowing(currentUser, follower._id)) { %>
                  <form class="inner" action="/profile/<%= follower._id%>/follow" method="POST">
                      <button class="btn btn-success btn-block">Follow</button>
                  </form>
                  <% } %>
                  <% if(isFollowing(currentUser, follower._id)) { %>
                  <form class="inner" action="/profile/<%= follower._id%>/unfollow" method="POST">
                      <button id="unfollow" class="inner btn btn-success btn-block" class="btn btn-primary">
                          &#10003; Following
                      </button>
                  </form>
                  <% } %>
          </div>
          </div>
        </div>
      </div>
    </div>
    <% } %>