<% layout('layouts/boilerplate') %>

<h1><%= user.FirstName %> <%= user.LastName %> </h1>
<h6 class="text-muted">@<%= user.username %></h6>
<h6>Joined: <%= date %> </h6>
<h6>Posts: <%= result[0].posts.length %> </h6>
<% for(let p of result[0].posts) { %>
    <div class="d-flex justify-content-center">
        <div class="col-sm-12 col-md-8 col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= user.FirstName %> <%= user.LastName %></h5>
              <h6 class="card-subtitle mb-2 text-muted">@<%= user.username %>  &#183 <%= formatDate(p.createdAt, true) %> </h6>
              <p class="card-text"><%= p.body %> </p>
              <a href="/posts/<%= p._id %>" class="card-link">View</a>
              <a href="#" class="card-link">Comment</a>
            </div>
          </div>
        </div>
    </div>
<% } %>