<% layout('layouts/boilerplate') %>

<div class="container-fluid">
  <div class="card">
    <h5 class="card-header"><%= user.FirstName %> <%= user.LastName %> </h5>
    <div class="card-body">
      <div class="row">
        <div class="col-6">
          <h5 class="card-title">@<%= user.username %> &#183 Joined: <%= date %></h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div id="outer" class="col-6">
          <h5 class="card-title"><%= result[0].posts.length %> </h5>
          <h5 class="card-title">Posts </h5>
          <form class="inner" action="/profile/<%= user._id%>/followers" method="GET">
            <button id="followers" class="btn btn-success btn-block"> <%= user.follower.length %> Followers</button>
          </form>
          <form class="inner" action="/profile/<%= user._id%>/following" method="GET">
            <button id="following" class="btn btn-success btn-block"><%= user.following.length %> Following</button>
          </form>
          <% if(currentUser && !currentUser.equals(user._id) && !displayFollow) { %>
          <form class="inner" action="/profile/<%= user._id%>/follow" method="POST">
            <button class="btn btn-success btn-block">Follow</button>
          </form>
          <% } %>
          <% if(displayFollow) { %>
    
          <button id="unfollow" class="inner btn btn-success btn-block" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Modal">
            &#10003; Following
          </button>

          <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="ModalLabel">Are you sure to unfollow?</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                  <button class="inner btn btn-success btn-block" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <form class="inner" action="/profile/<%= user._id%>/unfollow" method="POST">
                    <button id="unfollow" class="btn btn-success btn-block">Yes</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <% } %>

        </div>
      </div>
    </div>
  </div>



  <h3>Your Posts:</h3>
</div>

<% for(let p of result[0].posts) { %>
<div class="d-flex justify-content-center">
  <div class="col-sm-12 col-md-8 col-lg-6">
    <div class="width-changer card noth">
      <div class="card-body">
        <h5 class="card-title"><%= user.FirstName %> <%= user.LastName %></h5>
        <h6 class="card-subtitle mb-2 text-muted">@<%= user.username %> &#183 <%= formatDate(p.createdAt, true) %> </h6>
        <p class="card-text"><%= p.body %> </p>
        <a href="/posts/<%= p._id %>" class="card-link">View</a>
        <a href="#" class="card-link">Comment</a>
      </div>
    </div>
  </div>
</div>
<% } %>