<% layout('layouts/boilerplate') %>

<div class="row">
    <% if(users.length < 1) { %> 
        <div class="col-sm-12 col-md-8 col-lg-6"> 
            <div class="card-body">
              <h2 class="card-title">Sorry, coudln't find that :(</h2>
            </div>
        </div>
    <% } %>
    <% for(user of users) { %>
    <div class="col-lg-3 col-md-4 col-sm-6">
    <div class="card">
        <% if(user.gender === 'Male') {%> 
            <img class="card-img-top circle" width="300px" src="https://images.unsplash.com/photo-1552519507-da3b142c6e3d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
          <%} else { %> 
            <img class="card-img-top circle" width="300px" src="https://images.unsplash.com/photo-1552519507-da3b142c6e3d?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Y2Fyc3xlbnwwfHwwfA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60" alt="Card image cap">
          <% } %> 
        <a href="/profile/<%= user._id %>"><h5 class="card-header"><%= user.FirstName %> <%= user.LastName %> </h5></a>
        <div class="card-body">
            <h5 class="card-title">@<%= user.username %> </h5>
            <a href="/profile/<%= user._id%>"><button class="btn btn-success btn-block">View Profile</button></a>      
        </div>
    </div>
</div>
<% } %>

</div>